@font-face {
  font-family: "GothamSSm-Bold";
  src: local('GothamSSm-Bold'),url('./assets/GothamSSm-Bold_Web.woff2') format('true');
  font-weight: normal;
}


*{
  margin:0;
}

body {
  margin: 0;
  font-family:'GothamSSm-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
